header{
    text-align: center;
    font-size: 30px;
}

.container{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 20vw;
    flex-direction: column;
    padding: 2rem;
}

.button{
    background-color: #5252fc;
    color: white;
    text-decoration:  none;
    width: 13vw;
    height: 7vh;
    margin-left: 2rem;
    border: 1px solid black;
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 18px;
}

.button:hover{
    background-color: #2a2aff;
    width: 13.5vw;
    height: 7.5vh;
}

.logout{
    height: 7vh;
    width: 13vw;
    margin-left: 2rem;
    font-size: 18px;
    color: white;
    background-color: #a0261d;
    border: 1px solid black;
    text-decoration: none;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.logout:hover{
    background-color: #e72517;
    width: 13.5vw;
    height: 7.5vh;
}